.input {
  background-color: rgba(255, 255, 255, 0.3);
  height: 30px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  border-color: black;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
