.contactContainer {
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.contactBtn {
  background-color: #1632d1;
  color: white;
  width: 90px;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
