.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 250px;
  padding: 8px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formBtn {
  background-color: #1632d1;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px 10px;

  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  margin: auto;
}

.error {
  color: orangered;
  font-size: 14px;
}

.input {
  background-color: rgba(255, 255, 255, 0.3);
  height: 30px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  border-color: black;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
